<html>
  <head></head>
  	<body>
  		Hey <%= yield %>!
  		<style>
   			body {
   					background-color: #B0C4DE;
					color: purple;
					text-align: center;
					font-size: 200px
   				}
   		</style>
  	</body>
</html>
