<html>
	<head>
			<style>
				body {
					color: blue;
					text-align: center;
					font-size: 64px;
					font-family: Ravie;
					background-image: url(http://www.eye4weather.info/wp-content/uploads/2012/06/summer-solstice-1.jpg);
					}
			</style>
	</head>
  	<body>
 		 <%= yield %>
  	</body>
</html>
