<html>
	<head>
			<style>
				body {
					color: purple;
					text-align: center;
					font-size: 164px;
					font-family: Calibri;
					background-image: url(http://michaelnewnham.com/wp-content/uploads/2013/09/Happy-Birthday-Julia.png);
					margin-top: 480px;
					}
				p {background-color: white;}
			</style>
	</head>
	<body>
		<p>
 			<%= yield %>
  		</p>
  	</body>
  </html>
