<html>
	<head>
			<style>
				body {
					background-color: purple;
					color: white;
					text-align: center;
					font-size: 164px;
					font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
					}
			</style>
	</head>
  	<body>
 		Nope. Just wait <%= yield %>!
  	</body>
</html>
