<html>
	<head>
			<style>
				body {
					color: Maroon;
					text-align: center;
					font-size: 164px;
					font-family: Ravie;
					background-image: url(http://www.eye4weather.info/wp-content/uploads/2012/06/summer-solstice-1.jpg);
					margin-top: 200px;
					}
			</style>
	</head>
  	<body>
 		 <%= yield %>
  	</body>
</html>
