<html>
	<head>
			<style>
				body {
					color: green;
					text-align: center;
					font-size: 164px;
					font-family: Verdana;
					}
			</style>
	</head>
  	<body>
 		 <%= yield %>
  	</body>
</html>
